//META{"name":"AMOLED","description":"An amazing theme with full customization included, made by Purple Wizard.","author":"ᴘᴜʀᴘʟᴇ ᴡɪᴢᴀʀᴅ#0984","version":"1.1", "website":"https://github.com/GoldenLys/"}*//{}
@import url('https://goldenlys.github.io/BetterDiscord-Elysia/flatbase.theme.css');
/*  PLUGINS (optional)  */
@import url('https://goldenlys.github.io/BetterDiscord-Elysia/NoOffline.css'); /* Hides the offline status */
@import url('https://goldenlys.github.io/BetterDiscord-Elysia/OverrableMembers.css'); /* Hides the offline status */
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap'); /* New font for discord */
@import url("https://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/base.css"); /* An horizontal server list made by Gibbu */

:root {
/*  GENERAL CONFIG  */
    --Title: "V A P O R J A W N";
    --logo: url(https://cdn.discordapp.com/attachments/662824403381518374/664221915229192249/Elysia.png);
    --background: rgb(0, 0, 0); /*   You can also use : url(LINKtoIMAGE)  */
    --font: 'Quicksand', sans-serif;
    --MainColor: rgb(255, 255, 255);
    --SecondaryColor: rgb(150, 0, 180);
/*  STATUSES  */
    --Online: rgb(0, 255, 136);
    --Idle: rgb(0,99,156);
    --Unavailable: rgb(228, 46, 0);
    --Offline: rgb(116, 127, 141);
/*  PROFILE HEADERS (you can also use "url(LINKtoIMAGE)" for the profile headers)  */
    --Playing: rgb(0, 221, 250);
    --Xbox: rgb(5, 150, 5);
    --Spotify: rgb(19, 218, 88);
    --Streaming: rgb(70, 0, 192);

    /*  MENUS COLORS  */
    --darkgrey: rgb(20, 20, 20);
    --darkgrey5: rgba(20, 20, 20, 0.35);
} /*END OF CONFIG*/
