/**
 * @name ELYSIA
 * @author ᴘᴜʀᴘʟᴇ ᴡɪᴢᴀʀᴅ#0984
 * @version 2.0 (BETA)
 * @invite SBuYeHh
 * @description An amazing RGB theme with full customization included, made by Purple Wizard.
 * @source https://github.com/GoldenLys/BetterDiscord-Elysia
 * @website https://goldenlys.github.io/ThemeGen
*/

@import url("https://goldenlys.github.io/BetterDiscord-Elysia/aerobase.css");/* DO NOT REMOVE THIS LINE */

/*  PLUGINS (optional)  */
@import url("https://fonts.googleapis.com/css?family=Quicksand&amp;display=swap");
/* New font for discord */

@import url("https://goldenlys.github.io/BetterDiscord-Elysia/HoverMemberList.css");
/* This makes the list of members a little smaller and allows you to open it by hovering over it. */

@import url("https://goldenlys.github.io/BetterDiscord-Elysia/NoOffline.css");
/* Hides the offline status */

@import url("https://goldenlys.github.io/BetterDiscord-Elysia/HorizontalServerList.css");
/* Makes the server list horizontal */

/*  GENERAL CONFIG  */

:root {
        --title: "V A P O R J A W N";
        --background: url(https://cdn.discordapp.com/attachments/476154188494143498/666288979506888704/wp_InPixio.jpg);
        --logo: url(https://cdn.discordapp.com/attachments/662824403381518374/664221915229192249/Elysia.png);
        --font: "Quicksand", sans-serif;
        --time: 15s;
        --ServerSize: 45px;
        --Primary: rgb(150, 0, 57);
        --animation: var(--Primary), rgb(221, 189, 5), rgb(0, 196, 33), rgb(7, 196, 170), rgb(40, 0, 150);
        
        /*  STATUSES  */
        --Online: rgb(0, 255, 136);
        --Idle: rgb(0, 99, 156);
        --Unavailable: rgb(228, 46, 0);
        --Offline: rgb(116, 127, 141);

        /*  PROFILE HEADERS (you can also use "url(LINKtoIMAGE)" for the profile headers)  */
        --Playing: rgb(0, 221, 250);
        --Xbox: rgb(5, 150, 5);
        --Spotify: rgb(19, 218, 88);
        --Streaming: rgb(70, 0, 192);

        /*  MENUS COLORS  */
        --darkgrey: rgb(32, 32, 32);
        --darkgrey5: rgba(14, 14, 14, 0.75);
        --grey: rgb(100, 100, 100);
        --darkgrey: rgb(6, 6, 6);
        --grey5: rgba(100, 100, 100, .5);
        --darkgrey5: rgba(6, 6, 6, .75);
        --SendMessage: var(--darkgrey);
        --HoverMessage: var(--grey5);
        --ChatBox: transparent;
        --Sidebar: transparent;
        --TitleBG: transparent;

        /* CUSTOM TEXTS */
        --JoinUs: "Hey! Wanna have some fun.. Join US !";
        --AddNewServer: "➕ Add a new server";
        --Close: "🔴";
        --Resize: "➕";
        --Hide: "➖";
        --ProfilePic: "Watch me";
        --Unread: "✨";
        --Options: "⚙️";
        --Emoji: "🙂";
        --EmojiHover: "😜";
        --Channel: "💬";
        --Voice: "🔊";
        --Community: "purpies";
        --WelcomeMessage: "Theme base designed by Purple Wizard.";
        --Watermark: "Made with 💖 by Purple Wizard";
        --EditStatus: "Put another status";
        --Folders: "📁";
        --FoldersOpen: "💠";
        --Micro: "🎙️";
        --Headset: "🎧";
}

/*END OF CONFIG*/